# Database
DATABASE_URL="mysql://root:password@127.0.0.1:3306/node_serverless"


# jwt secret key
ACCESS_TOKEN_SECRET = "0pG4m3rz"
REFRESH_TOKEN_SECRET = "0pG4m3rz"
saltRounds  = 5


#  Port
PORT = 8080   #Default port = 5000
OTP = 1111
OTP_EXPIRE_TIME = 60000 #In miliseconds
API_VERSION = "api_v1"


# Moment Timezone
Timezone = Asia/Kolkata

# Frontend url
FrontendUrl = http://localhost:3000/forget-password
BACKEND_BASE_URL = https://nosho.techglock.in

# Crypto-js credentials
CRYPTO_SECRET = 2d9f23d19a194ab6922d9c32624e6f0ae19447790620f1cf752f29f31f950020